<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM Automation Suite" parallel="false">
    <test name="Login Tests">
        <classes>
            <class name="com.orangehrm.testcases.Login._01_AdminLogin"/>
            <class name="com.orangehrm.testcases.AdminModule.PIM._001_AddEmployee"/>
        </classes>
    </test>
</suite>